/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Page Layout */
  body {
    display: grid;
    grid-template-rows: 70px auto;
    padding: 10px 20px;
    background: #F5F8FA;
    font-family: "Lato", serif;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid #E0E6EA;

  }
  
  .logo {
    width: 200px;
    height: 39px;
    }
    
  nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
  nav ul li {
    padding: 10px;
    color: #333;
    cursor: pointer;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
  }
  
  nav ul li:hover {
    color: #438e7d;
  }
  
  /* Main Content */
  main {
    width: 50%;
    display: grid;
    grid-template-rows: auto 30px;
    margin: 0 auto;
  }

  .card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns:65% 35%;
    max-height: 80vh;
  }
  
  .checkout-form{ /* h2, form, support section*/
    background: #fff;
    display: grid;
    width: 100%;
    padding: 20px;
    color: #1D2C3C;
  }

  form{
    display: grid;
    gap: 20px;
  }
  
  .info-section,
  .payment-section{
    border-bottom:1px solid #F5F7FA;
    padding: 10px 0;

  }
  
   h2{
    font-size: 30px;
    font-weight: 400;
    border-bottom:1px solid #F5F7FA;
  }
  
  form section{
    display: grid;
    gap: 20px;
  }

  .info-section label:nth-of-type(3),
  form section h3{
    grid-column: span 2;
}
    
  input {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 3px;
    width: 100%;
    background: #EDEFF2;
  }

  #email{
    display: block;
    width: 70%;
  }

  .card-details{
    display: flex;
  }
    
  /* Button */
  button {
    width: 80%;
    background-color: #438e7d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .support-section {
    font-size: 14px;
    margin: 0 auto;
  }
  
  .support-section a {
    color: #438e7d;
    text-decoration: underline;
  }

  /* Sidebar */
  .sidebar {
    background: #1179BF;
    padding: 20px;
    color: #fff;
    display: grid;
  }


  
footer{
  margin: 0 auto;
}